Troy Morgan  
Week 7 Instructor-Led Lab  
BGEN 632, Graduate Introduction to Python  
Submitted April 14, 2025

Instructor-led Lab: Manipulating Data

# Imports

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold

 # Accessing Data

## Open the file within Python.

In [2]:
# Determine current directory
os.getcwd()

'C:\\Users\\troy.morgan\\Documents\\GitHub\\week7labs'

In [3]:
# Change directory where data it located.
os.chdir("\\Users\\troy.morgan\\Documents\\GitHub\\week7labs/data")

In [4]:
# Check that directory was changed.
os.getcwd()

'C:\\Users\\troy.morgan\\Documents\\GitHub\\week7labs\\data'

In [5]:
# Open file
github_teams = pd.read_csv("github_teams.csv")

## Find out what the column header names are.

In [6]:
github_teams.columns

Index(['name_h', 'Team_type', 'Team_size_class', 'human_members_count',
       'bot_members_count', 'human_work', 'work_per_human', 'human_gini',
       'human_Push', 'human_IssueComments', 'human_PRReviewComment',
       'human_MergedPR', 'bot_work', 'bot_Push', 'bot_IssueComments',
       'bot_PRReviewComment', 'bot_MergedPR', 'eval_survival_day_median',
       'issues_count'],
      dtype='object')

## Determine the number of columns.

In [9]:
len(github_teams.columns)

19

## Determine the number of rows.

In [10]:
len(github_teams.index)

608

## Determine which columns are categorical and convert them from *object* to *category*.

In [13]:
# Determine which columns are categorical.

# See all metadata to see data types.
github_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name_h                    608 non-null    object
 1   Team_type                 608 non-null    object
 2   Team_size_class           608 non-null    object
 3   human_members_count       608 non-null    int64
 4   bot_members_count         608 non-null    int64
 5   human_work                608 non-null    int64
 6   work_per_human            608 non-null    float64
 7   human_gini                608 non-null    float64
 8   human_Push                608 non-null    int64
 9   human_IssueComments       608 non-null    int64
 10  human_PRReviewComment     608 non-null    int64
 11  human_MergedPR            608 non-null    int64
 12  bot_work                  608 non-null    int64
 13  bot_Push                  608 non-null    int64
 14  bot_IssueComments         608 non-null    int64
 15  bot_PRReviewComment       608 non-null    int64
 16  bot_MergedPR              608 non-null    int64
 17  eval_survival_day_median  303 non-null    float64
 18  issues_count              303 non-null    float64
dtypes: float64(4), int64(12), object(3)
memory usage: 90.4+ KB

In [14]:
# Check the data to determine which columns are columns are categorical. In this case, it is columns 1 and 2 (Team_type and Team_size_class).
github_teams

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
0,_1bqaxzCk0sfQaunsjeViQ/RCEZ3CASdLXbstu9y2JQ7Q,human-bot,Small,2,1,66,33.000000,0.287879,29,33,4,0,43,0,43,0,0,87.0,8.0
1,_9o07rGiC7DFyi-zm91Q0g/VOgMsrjYEwFAq0BY8kHqGQ,human,Small,2,0,62,31.000000,0.467742,62,0,0,0,0,0,0,0,0,NaN,NaN
2,_DzK53uaZXnAX3WcC0W28g/Epc4QWw5PNBQIIdvopEHDA,human,Large,7,0,211,30.142857,0.499661,194,16,1,0,0,0,0,0,0,37.0,46.0
3,_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA,human-bot,Large,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g,human-bot,Large,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A,human-bot,Small,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN
604,zUBexdmYylGGpxiebXm6gg/sJXD2kulWzU35ijdY3SnBQ,human,Small,2,0,63,31.500000,0.436508,63,0,0,0,0,0,0,0,0,NaN,NaN
605,zVSBi-iRKCzLiqFwVt6hbg/8SfUBIOeWUjDoQxeUCX7wQ,human,Medium,5,0,26,5.200000,0.446154,19,5,2,0,0,0,0,0,0,NaN,NaN
606,zVSBi-iRKCzLiqFwVt6hbg/fm_lDWwc8Uu-aZ24BjUNZg,human,Medium,5,0,13,2.600000,0.246154,8,4,1,0,0,0,0,0,0,8.0,10.0
607,ZX09uvu0z_JVPVI-XrPniQ/pxiuGX_R6QI2Euvx2GFIFw,human-bot,Small,2,1,57,28.500000,0.043860,32,24,1,0,8,3,4,1,0,5.0,26.0

In [17]:
# Convert to 'category' type.
github_teams['Team_type'] = github_teams['Team_type'].astype('category')
github_teams['Team_size_class'] = github_teams['Team_size_class'].astype('category')

# Check to make sure conversion happened. 
github_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name_h                    608 non-null    object
 1   Team_type                 608 non-null    category
 2   Team_size_class           608 non-null    category
 3   human_members_count       608 non-null    int64
 4   bot_members_count         608 non-null    int64
 5   human_work                608 non-null    int64
 6   work_per_human            608 non-null    float64
 7   human_gini                608 non-null    float64
 8   human_Push                608 non-null    int64
 9   human_IssueComments       608 non-null    int64
 10  human_PRReviewComment     608 non-null    int64
 11  human_MergedPR            608 non-null    int64
 12  bot_work                  608 non-null    int64
 13  bot_Push                  608 non-null    int64
 14  bot_IssueComments         608 non-null    int64
 15  bot_PRReviewComment       608 non-null    int64
 16  bot_MergedPR              608 non-null    int64
 17  eval_survival_day_median  303 non-null    float64
 18  issues_count              303 non-null    float64
dtypes: category(2), float64(4), int64(12), object(1)
memory usage: 82.3+ KB

## How many unique values does `Team_type` have?

In [18]:
# Determine number of unique values in the "Team_type" column. In this case, there are two.
pd.unique(github_teams.Team_type)

['human-bot', 'human']
Categories (2, object): ['human', 'human-bot']

## How many unique values does `Team_size_class` have?

In [19]:
# Determine number of unique values in the "Team_type" column. In this case, there are three.
pd.unique(github_teams.Team_size_class)

['Small', 'Large', 'Medium']
Categories (3, object): ['Large', 'Medium', 'Small']

## What is the value of the 63rd row and 6th column?

In [20]:
# The answer is 35.
github_teams.iloc[62, 5]

35

## What are the values for the 300th row?

In [21]:
github_teams.iloc[301]

name_h                      j9wc2HRCyP7cJecuXHvGtA/aSJGod8SfdlMjqys9HJuqA
Team_type                                                           human
Team_size_class                                                     Small
human_members_count                                                     3
bot_members_count                                                       0
human_work                                                             47
work_per_human                                                  15.666667
human_gini                                                       0.382979
human_Push                                                             47
human_IssueComments                                                     0
human_PRReviewComment                                                   0
human_MergedPR                                                          0
bot_work                                                                0
bot_Push                                                                0
bot_IssueComments                                                       0
bot_PRReviewComment                                                     0
bot_MergedPR                                                            0
eval_survival_day_median                                              NaN
issues_count                                                          NaN
Name: 301, dtype: object

## Using three different methods, select row with index value 595 with 1st, 2nd, 3rd columns.

In [22]:
# Method 1 - Array

github_teams.iloc[595, [0, 1, 2]]

name_h             zAh1NECRCquqUJ_-1d6hAw/DET3jTK8hokYfY_neJ1IVQ
Team_type                                              human-bot
Team_size_class                                            Small
Name: 595, dtype: object

In [24]:
# Method 2 - Slicing

github_teams.iloc[595, :3]

name_h             zAh1NECRCquqUJ_-1d6hAw/DET3jTK8hokYfY_neJ1IVQ
Team_type                                              human-bot
Team_size_class                                            Small
Name: 595, dtype: object

In [28]:
# Method 3 - Array using label-based indexing

github_teams.loc[595, ['name_h', 'Team_type','Team_size_class']]

name_h             zAh1NECRCquqUJ_-1d6hAw/DET3jTK8hokYfY_neJ1IVQ
Team_type                                              human-bot
Team_size_class                                            Small
Name: 595, dtype: object

## Using two different methods, select the row with index value 46 with the 3rd and 7th columns.

In [34]:
# Method 1 - Array

github_teams.iloc[46, [2, 6]]

Team_size_class       Medium
work_per_human     31.833333
Name: 46, dtype: object

In [35]:
# Method 2 - label-based indexing array

github_teams.loc[46, ['Team_size_class', 'work_per_human']]

Team_size_class       Medium
work_per_human     31.833333
Name: 46, dtype: object

## Create a new DataFrame for the column `bot_work` using two different methods.

In [37]:
# Method 1

new_bot_work_dataframe = pd.DataFrame(github_teams.bot_work)

new_bot_work_dataframe

     bot_work
0          43
1           0
2           0
3        1972
4         302
..        ...
603        26
604         0
605         0
606         0
607         8

[608 rows x 1 columns]

In [ ]:
# Method 2

# Sorting and Ordering data

In [8]:
# Select `human-bot` teams that have a `bot_members_count` value greater than and equal to 2. 

# Find the `human` teams that are `Large` and have a `human_gini` value greater than and equal to 0.75.
    
# How many teams are in the `Small` or `Large` category?
    
# How many teams are in the `Small` or `Large` cateogry with a `human_gini` value less than and equal to 0.20?
    
# How many `human-bot` teams are in the `Medium` category?
    
# Create a subsample of 50% of your data.
    
# Create samples for a 8-fold cross validation test.
    
# Select columns that are numeric and save it as a new DataFrame.
    
# Remove the columns `bot_PRReviewComment` and `bot_MergedPR` from the DataFrame.

# Save the columns `Team_size_class` and `human_members_count` as a new DataFrame.

# Rename these two columns in the new DataFrame.